html {
  font-size: 18px;
}
.container {
  max-width: 1050px;
  margin: auto;
}
body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  background-color: white;
}
h1 {
  font-size: 2.15rem;
  color: #383838;
  font-weight: 700;
}

h2 {
  font-size: 1.9rem;
  color: #383838;
  font-weight: 700;
}

h4 {
  font-size: 1.25rem;
  color: #383838;
  font-weight: 500;
  line-height: 1.45rem;
}

h6 {
  font-size: 1.10rem;
  color: #383838;
  font-weight: 500;
}

p {
  font-weight: 400;
  font-size: .8rem;
  line-height: 1.1rem;
  color: gray;
}

span {
  font-size: .75rem;
  color: #383838;
  line-height: .95rem;
}

/* Header */
header {
  background-color: white;
}
header .container {
  display: flex;
  text-align: center;
  justify-content: space-between;
  height: 64px;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo img {
  margin-left: 24px;
  height: 2.75rem;
}
.Colmar {
  font-size: 1rem;
  font-weight: 700;
}
.Academy {
  font-size: 1rem;
  font-weight: 400;
  color: gray;
}
nav {
  display: flex;
  text-align: right;
  align-items: center;
  margin-right: 24px;
}
.desktop span {
  padding-left: 16px;
  color: #383838;
  font-size: 1rem;
}
nav span:hover {
color: #808080;
}

/* Main Banner */
.main-banner {
background-color: #DCDCDC;
margin: 0 auto;
}
.main-banner .container {
  display: flex;
  justify-content: space-between;
}
.left-section {
  width: 60%;
  padding: 32px 24px;
}
.left-section img {
  width: 100%;
}
.right-section {
  width: 440px;
}
.banner-text {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left:20px;
  margin-top: 6rem;
}
.banner-text h4 {
  margin-top: 32px;
  margin-bottom: 32px;
}
.banner-text a {
  background-color: #383838;
  text-align: center;
  text-decoration: none;
  color: white;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 320px;
}
.banner-text a:hover {
  background-color: #808080;
}
.banner-text a:active {
  background-color: #808080;
}

/* 2nd section */
.practice {
  display: flex;
  justify-content: space-between;
  height: auto;
}
.left-section h2 {
  padding-top: 32px;
}
.left-section p {
  padding-top: 24px;
  padding-bottom: 24px;
}
.practice .right-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-left: 1px solid #DCDCDC;
  padding: 16px 0px 32px 0px;
  }
  .box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #DCDCDC;
  }
  .box img {
    width: 35%;
    padding: 16px;
  }
  .content p {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .lecture {
    background-color: #dcdcdc;
  }
.content a {
  font-size: 0.8rem;
}
.lecture .content {
  padding-left: 20px;
}
.content a {
    color: #4ba3f4;
    text-decoration: none;
    font-size: 14px;
    display: block;
    padding-top: .7rem;
}
.content a:hover {
  color: #9dcdf9;
  text-decoration: underline;
}

/* Learning Seciton */

.learning {
  background-color: #F5F5F5;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
}
.headline {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  margin: auto;
  width: 100%;
  justify-content: center;
}
.course-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
}
.course img {
  width: 100%;

}
.course {
background-color: white;
  width: 32%;
    height: 16rem;
    margin-bottom: 20px;
}
.course-content {

  padding-left: 16px;
  padding-top: 16px;
  padding-right: 16px;
  padding-bottom: 24px;
}
.course-content span {
  font-size: .8rem;
      color: gray;
}
.course-content h6 {
  padding-bottom: 1rem;
}
.course-content p {
  padding-top: .55rem;
}

/* Thesis Section */
.left-section {
  padding-bottom: 32px;
}
.left-section video {
  width: 100%;
  object-fit: contain;
}
.left-section h6 {
  padding-top: 24px;
}
.left-section p {
  padding-top: 16px;
}
.flex {
  display: flex;
justify-content: space-between;
}
.container {
    max-width: 1050px;
    margin: auto;
}
.thesis .first-info {
    margin-top: 32px;
}
.content {
    padding: 16px 10px 16px 0px;

}
.info{
  border: 0px;
}
/* Footer */

footer {
  border-top: 1px solid #DCDCDC;
  background-color: white;
height: 3.5rem;
}
footer span {
  padding-left: 20px;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.75rem;
}
nav {
  text-align: right;
}
.footer-nav a {
  display: inline-block;
  padding-right: 16px;
  color: #383838;
  font-size: .75rem;
  cursor: auto;
  text-decoration: none;
}
footer nav p {
  padding-left: 24px;
  padding-right: 24px;
  color: #383838;
}
.footer-nav a:hover {
  color: #808080;
}
